@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    dox
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:youresilent@outlook.com">youresilent@outlook.com</a><br />
</address>