@{
    ViewBag.Title = "Начало";
}

<div class="jumbotron">
    <h1 class="text-center">Chatto</h1>
    <p class="lead text-center">Просто невероятная социальная сеть на никем не используемой технологии, хз чё ещё написать сюда</p>
</div>