@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
	<h1 class="display-1 text-center">Chatto</h1>
	@if (Request.IsAuthenticated)
	{
		<p class="lead text-center">You are already logged in, click "My profile" to use Chatto!</p>
	}
	else
	{
		<p class="lead text-center">To proceed, Register new account or Log In</p>
	}
</div>