@model Chatto.Models.ChangePasswordModel
@{
	ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()

	@Html.EditorForModel()

	<p><input type="submit" class="btn btn-outline-success" value="Submit" /></p>
}
