@model Chatto.BLL.DTO.UserDTO
@{
    ViewBag.Title = "Users list";
}

<h2 class="display-2">Registered users</h2>

<table class="table col-md-4">
	@foreach (var user in ViewBag.Users)
	{
		if (user.UserName != User.Identity.Name)
		{
			<tr>
				<td>@user.UserName (@user.RealName)</td>

			@if (!Model.Friends.Contains(user.UserName))
			{
				<td style="text-align: right">@Html.ActionLink("Add friend", "AddFriend", "Account", new { userName = user.UserName }, new { @class = "btn btn-sm btn-outline-warning" })</td>
			}
			else
			{ 
				<td style="text-align: right">@Html.ActionLink("Already friended", "RemoveFriend", "Account", new { userName = user.UserName }, new { @class = "btn btn-sm btn-outline-success disabled" })</td>
			}
				
			</tr>
		}
	}
</table>