<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Error</title>
</head>
<body>
	<hgroup>
		<h1>:(</h1>
		<h2>An error has occured. Please, try again!</h2>
		<h6 class="text-black-50">Report this to developer pls......</h6>
	</hgroup>
</body>
</html>
